rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Helper functions
    function isAuthenticated() {
      return request.auth != null;
    }
    
    function isAdmin() {
      return isAuthenticated() && request.auth.token.role == 'admin';
    }
    
    function isStudent() {
      return isAuthenticated() && request.auth.token.role == 'student';
    }
    
    function isOwner(uid) {
      return isAuthenticated() && request.auth.uid == uid;
    }

    // Competition rules
    match /competitions/{competitionId} {
      allow read: if isAuthenticated();
      allow write: if isAdmin();
    }

    // Registration rules
    match /registrations/{registrationId} {
      allow read: if isAdmin() || isOwner(resource.data.uid);
      allow create: if isStudent() && request.resource.data.uid == request.auth.uid 
      && get(/databases/$(database)/documents/competitions/$(request.resource.data.competitionId)).data.status =="open" ;
      allow update: if isAdmin() || (isOwner(resource.data.uid) && resource.data.marked == false);
      allow delete: if isAdmin();
    }

    // Mark rules
    match /marks/{markId} {
      allow read: if isAdmin() || 
        isOwner(get(/databases/$(database)/documents/registrations/$(resource.data.registrationId)).data.uid);
      allow write: if isAdmin();
    }
    match /users/{userId} {
      allow read, write:if isAdmin() || (isOwner(userId) && 
      isStudent());
    }
  }
}
